<%= form_with(model: prueba, local: true) do |form| %>
  <% if prueba.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prueba.errors.count, "error") %> prohibited this prueba from being saved:</h2>

      <ul>
        <% prueba.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <div class="field">
      <label class="label">Nombre</label>
      <div class="control">
        <input id="pruebas_nombre" class="input" type="text" placeholder="Nombre">
      </div>
    </div>

    <div class="field">
      <label class="label">Edad</label>
      <div class="control">
        <input id="pruebas_edad" class="input" type="number" placeholder=0>
      </div>
    </div>

    <div class="field">
      <label class="label">Fecha de nacimiento</label>
      <div class="control">
        <input id="pruebas_fechaNac" class="input" type="date" placeholder=0>
      </div>
    </div>

    <br>

    <a class="button is-light" href="/pruebas">Back</a>
    <input class="button is-light" type="submit">
  </div>
<% end %>