<nav class="navbar is-info is-fixed-top is-flex-mobile" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/pruebas">
      <img src="https://images.vexels.com/media/users/3/157272/isolated/preview/e6d8b2a22f0f860af01343af96e94a8a-libros-apilados-vector-by-vexels.png" width="30" height="28">
    </a>
  </div>
  <div class="navbar-start">
      <%= link_to 'Registrar', new_prueba_path, class: 'navbar-item' %>
  </div>
</nav>