<div class='columns'>
    <div class='column'></div>
    <div class='column'>
        <h1 class="title is-1">Editar</h1>
        <%= render 'form', prueba: @prueba %>
    </div>
    <div class='column'></div>
</div>
